<a id="tomodify" onclick="display()" style="right: 0; padding-right: 2em; position: absolute;"><button class="button is-link is-light">Add custom response</button></a>
<h1 class="title">Custom responses</h1>
<div id="toappear" class="myClass" style="display: none">
  <form id="cpform">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="field cp-field">
      <div class="control">
        <input id="match" name="match" class="input is-medium" type="text" placeholder="Match" required>
      </div>
    </div>
    <div class="field cp-field">
      <div class="control">
        <textarea class="textarea" id="response" name="response" class="input is-large" type="text"
          placeholder="Response" required></textarea>
      </div>
    </div>
    <div class="field cp-field">
      <div class="control">
        <input id="link" name="link" class="input is-medium" type="url" placeholder="File link">
      </div>
    </div>
    <span id="spanthing" class="form-span"></span>
    <br>
    <input id="cpsubmit" class="button" style="display: inline;" type="submit" value="Add">
  </form>
</div>
<br>
<div class="box" id="x" style="display: none;">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <strong>x</strong>
        <a href=""><strong><small>File link</small></strong></a>
        <br>
        <p>x</p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="delete">
            <a onclick="this.removeAttribute('onclick');this.innerText='...';cpdelete(this)"
              class="button is-danger is-light">Delete</a>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
<div id="boxes">
  <% if(Object.entries(data.responses)[0]) { %>
  <% Object.entries(data.responses).forEach((v, i) => { %>
  <%- include("cpr", { match: v[0], response: v[1], i }) %>
  <% })} %>
</div>
<script src="/events/cp.js"></script>