  <footer id="myfooter" style="display: none;">
  <div style="float: left; padding: 0.8em; padding-left: 5em;"><p>Gidget, a bot for Discord<br><a href="https://wubbzy.fandom.com/wiki/Gidget" target="_blank">Based on a cartoon character</a><br><a href="https://discord.com/api/oauth2/authorize?client_id=694306281736896573&permissions=0&scope=bot" target="_blank">Invite this bot!</a></p></div>
  <div style="float: right; padding: 0.8em; padding-right: 5em;"><address>By: <span id="andremor">...</span><br>Mail: <a href="mailto:andre@gidget.xyz">andre@gidget.xyz</a><br><a href="https://discord.gg/KDy4gJ7" target="_blank">Support server (end user)</a></address></div>
  </footer>
  <a><button id="control-footer" class="button is-small" style="float: right; position: fixed; right: 0; bottom: 0;" onclick="footer()">Open</button></a>
</body>
</html>
