<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gidget's dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css">
  <link id="darkmode" rel="stylesheet" href="https://unpkg.com/bulma-prefers-dark" />
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" href="https://cdn.discordapp.com/avatars/577000793094488085/3f5d841095043ef361f057d151cc0538.png" type="image/png" sizes="16x16">
</head>