<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <div class="navbar-item">
      <a href="/"><img src="/assets/avatar.png" width="auto"></img></a>
    </div>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <% if(logged) { %>
      <a href="/dashboard" class="navbar-item">
        Dashboard
      </a>
      <% } %>
      <a href="/wwd" class="navbar-item">
        Wow Wow Discord
      </a>
      <a href="https://github.com/AndreMor955/gidget" class="navbar-item" target="_blank">
        Gidget's GitHub repository
      </a>
    </div>
      <div class="navbar-end">
        <% if(logged) { %>
        <div class="navbar-item">
          <h1>Welcome, <%= antixss(username) %></h1>
        </div>
        <% } %>
        <div class="navbar-item">
          <div class="buttons">
            <% if(logged) { %>
            <form action="/auth/logout">
              <button class="button is-primary is-rounded  my-custom-button" type="submit">Logout</button>
            </form>
            <% } else { %>
            <form action="/auth/">
              <button class="button is-primary is-rounded  my-custom-button" type="submit">Login</button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
  </div>
</nav>