<form id="serverprefix">
  <h2 class="subtitle" style="text-align: left">Bot prefix</h2>
  <input id="prefix" class="input" type="text" name="prefix" value="<%= data.prefix %>" required>
  <br><br>
  <span id="prefix-span" class="form-span"></span>
  <br>
  <input id="prefixsubmit" class="button" style="float: left" type="submit" value="Save">
</form>
<script src="/events/prefix.js"></script>