<%- include("partials/header") %>
<body>
<%- include("partials/nav") %>
<meta HTTP-EQUIV="REFRESH" CONTENT="4;URL=/">
<br>
<h1 class="title" style="text-align: center; font-size: 4em;">Not Found</h1>
<%- include("partials/footer") %>