<%- include('partials/header') -%>

<body class="background1">
    <%- include('partials/nav') -%>
    <center>
        <h1 style="margin-top: 10px; font-size: 3em">
            Your appeal has been sent successfully
        </h1>
    </center>
    <%- include('partials/footer') -%>