<%- include('partials/header') -%>
<body class="background2">
<%- include('partials/nav') -%>
<center>
<h1 style="margin-top: 10px; font-size: 3em">
    Write a birthday card to Wubbzy!
</h1>
<% if(status === 403) { %>
  <h2 style="margin-top: 10px; font-size: 2em">
    <span style="padding: 3px; margin-top: 10px; background-color: #81F7F3; font-size: 20px">You have already sent your letter. It will appear in #wubbzy_birthday_cards when properly reviewed</span>
</h2>
  <% } else { %>
  <form action="/wwd/birthday-cards/submit" method="post">
<div class="field" style="margin-top: 20px; max-width: 50em">
  <div class="control">
    <textarea class="textarea" id="card" name="card" class="input is-large" type="text" placeholder="Write a card for him. Wish him the best" required></textarea>
  </div>
</div>
<div class="field" style="margin-top: 20px; max-width: 50em">
  <div class="control">
    <textarea class="textarea" id="additional" name="additional" class="input is-large" type="text" placeholder="Do you want to say something to the staff or the community? Write it here. (optional)"></textarea>
  </div>
</div>
<div>
<label class="checkbox">
    <input type="checkbox" id="anon" name="anon" value="anon"><span style="padding: 3px; margin-top: 10px; background-color: #81F7F3; font-size: 20px">Make this card anonymous when approving it.</span></input>
  </label>
</div>
<br>
  <div>
  <input class="button" type="submit" value="Submit">
</div>
  </form>
  <% } %>
  </center>
<%- include('partials/footer') -%>