<%- include('partials/header') -%>
<body>
<%- include('partials/nav') -%>
  <h1 class="title" style="text-align: center; font-size: 3em">
    <strong>Select a server</strong>
  </h1>
  <% adminguilds.forEach(guild => { %>
  <div style="display: inline-block; width: 18em; padding: 0.5em">
    <%- include('partials/d0', { guild }) -%>
  </div>
  <% }) %>

<%- include('partials/footer') -%>