<%- include("partials/header") %>
<body>
<%- include("partials/nav") %>
<meta HTTP-EQUIV="REFRESH" CONTENT="2;URL=/">
<br>
<h1 class="title" style="text-align: center; font-size: 2.5em;">Logged :), you are being redirected...</h1>
<%- include("partials/footer") %>