<%- include("partials/header") %>
<body>
<%- include("partials/nav") %>
<br>
<h2 id="loading" class="subtitle" style="font-size: xx-large; text-align: center;">Loading...</h2>
<div id="content" class="content" style="text-align: center; display: none">
    <h1 style="font-size: xxx-large;" class="title">Stats</h1>
    <p style="font-size: 3vh;"><b>Dashboard memory usage:</b> <span id="memoryrssusage"></span><br>
    <b>Uptime:</b> <span id="uptime"></span><br>
    <b>Machine memory:</b> <span id="memory"></span><br>
    <b>Node.js:</b> <span id="node"></span><br>
    <b>Hosting service:</b> <span id="hoster"></span><br><br>
    <b>Operating system:</b> <span id="system"></span><br><br>
    <b>CPU:</b> <span id="cpu"></span><br><br>
    <b>Arch:</b> <span id="arch"></span><br>
    <b>Platform:</b> <span id="platform"></span>
</p>
</div>
<script defer src="/stats.js"></script>
<%- include("partials/footer") %>