<%- include('partials/header') -%>

<body>
    <%- include('partials/nav') -%>
    <h1 class="title" style="text-align: center; padding: 1em;">Some of the people who helped in some way with this
        project =D</h1>
    <ul style="padding-left: 3em; font-size: 1.5em;">
        <li><b>StevenC.#6666</b>: Current bot and dashboard hosting.</li>
        <li><b>Hyuuh#0001</b>: This domain :):)</li>
        <li><b>Awoo#0741</b>: Previous hosting on Heroku for a 24/7 bot</li>
        <li><b>NeonBluu#9517</b>: Support server creation and design</li>
    </ul>
    <br>
    <h2 class="subtitle" style="text-align: center; padding: 1em;"><a href="https://github.com/AndreMor955/gidget/graphs/contributors" target="_blank">Also to the people who contributed at least something to the bot's code</a></h2>
<%- include('partials/footer') -%>