.my-button-common {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.select select {
  background-color: rgb(7, 7, 7);
}

.my-button {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-button2 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-button {
  width: 350px;
}

.dropdown-menu {
  min-width: 14rem;
}

.background1 {
  background-image: url("https://vignette.wikia.nocookie.net/wubbzy/images/8/89/C199993F-3451-4BE3-9CD8-DC59E3F30008.jpeg/revision/latest?cb=20200327143747&format=original");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.background2 {
  background-image: url("https://vignette.wikia.nocookie.net/wubbzy/images/1/17/Birthday_Birthday_-_Capture_24.png/revision/latest?cb=20190905005643&format=original");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.myClass {
  padding: 8px;
  border-radius: 2em;
  background-color: #F5F6CE;
}

#prefix-span, #WS-Span, #LS-Span, #spanthing {
  color: #000 !important;
}